<a
  [routerLink]="['/artist', artist().id]"
  class="flex flex-col items-center gap-3 p-4 bg-[#1d1633] rounded-xl cursor-pointer transition-all duration-300 hover:bg-[#261d3d] hover:scale-[1.07]"
>
  <img
    [src]="artist().picture_small"
    [srcset]="artist().picture_small + ' 56w, ' + artist().picture_medium + ' 250w, ' + artist().picture_big + ' 400w'"
    sizes="(max-width: 640px) calc(50vw - 3rem), (max-width: 768px) calc(33vw - 3rem), (max-width: 1024px) calc(25vw - 3rem), 140px"
    [alt]="artist().name"
    class="w-27 h-27 rounded-full object-cover"
  />
  <span class="text-[#f5f3ff] font-medium text-sm text-center">
    {{ artist().name }}
  </span>
</a>
